.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom,#dce6ec80,#87a4b556),url("/assets/images/dashboard.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0% 100%);
}
.heading-primary{
    color: #ffffff;
    text-transform: uppercase;
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 30px;
    margin-bottom: 60px;
}
.text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.btn-light{
    color: #777 !important;
}
.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}
.btn-light::after{
    background-color: white !important;
}
.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.footer{
    height: 50px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #9798999c;
    margin-bottom: -2px !important;
}
